
body {
	font-family: 'Open Sans', sans-serif;
}
#submit-group{
    margin: 0 0 0 0px;
    background-color: transparent;
    text-align: center;

}

.container{
      padding-bottom: 90px;
}
#results{
	visibility: hidden;
}
.footnote{
  font-size: 8pt;
  vertical-align: super;
}
#footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}

.seasons-group .input-group-btn .glyphicon{
  line-height: 1.5;
}
.form-horizontal .control-label{
font-size: 14px;
}

h1,h2,h3,h4,h5,h6{

  color:orange !important;
}

h2{
  font-size:42px;

}

#footer container {
        width:auto;
        margin: 0 auto 0 auto;
        text-align: center;
      }
 #footer .credit {
    margin: 20px 0;
  }

 html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #aaaaaa;
      }



      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 693px) {
        #footer {
          height: 80px;
          margin-top:60px;

          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

